/*/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.topnav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    background-color: #3399FF;
    overflow: hidden;
    display:block;
}
.topnav a {
        float: left;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-align:center;
}
.topnav-right {
    float:right;
}
.main {
    padding-left:20px;
    width:1200px;
    margin:0 auto;
    margin-top:20px;
}
.inputpanel {
    height:480px;
    width:500px;
    background-color:ghostwhite;
    border-style:solid;
    border-color:#3399FF;
    border-width:thin;
    float:left;
}
.innerpane {
    height: 40px;
    width: 500px;
    background-color: ghostwhite;
    border-style:solid;
    border-width:thin;
    border-color: #3399FF;
    background-color:#3399FF;
}
.outputpanel {
    height: 480px;
    width: 500px;
    background-color: ghostwhite;
    border-style: solid;
    border-color: #3399FF;
    border-width: thin;
    margin-left:600px;
}

.outerpane {
    height: 40px;
    width: 500px;
    background-color: ghostwhite;
    border-style: solid;
    border-width: thin;
    border-color: #3399FF;
    background-color:#3399FF;
}
.button {
    margin-top:25px;
    margin-left:95px;
    position:relative;
}
.text{
    float:left;
}
textarea{
    max-width:100%;
    max-height:100%;
}